/* navbar */

header {
    background-color: #1a3a2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fef9f9;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
    }
}

/* navbar finish */
/* footer start */
#footer {
    position: absolute;
    margin-top: 50vh;
}

footer {
    background-color: #1a3a2e;
    text-align: center;
    color: white;
    padding: 20px;
    clear: both;
    /* bottom: 0; */
    width: 100%;
    height: 50px;
}

/* footer finish */
/* index page start */
#main-page {
    margin: 0%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.intro-text {
    padding-top: 10%;
    position: relative;
    left: 5vw;
    font-size: 1.5rem;
    width: 300px;
    line-height: 1.5;
    text-align: center;
    color: white;
}

.cta {
    position: absolute;
    padding: 1rem 1.2rem;
    font-size: 1.25rem;
    border: 0.15rem solid #ffffff;
    border-radius: 5px;
    background-color: #1a3a2e;
    color: #ffffff;
    cursor: pointer;
    margin: 1% 7%;
}

@media (max-width: 768px) {
    p.intro-text {
        font-size: 1.5rem;
        
    }
}


/* index page finish */
/* shop page start */
body {
    margin: 0%;
}

.shop-image {
    width: 100%;
}

.big-heading {
    font-size: 3rem;
    margin-left: 1%;
}

.para {
    margin-left: 1%;
    font-size: 1.2rem;
}

.small-heading {
    margin-left: 1%;
    font-size: 2rem;
    margin-bottom: 1%;

}

/* shop page finish */
/* activity page start */
.activity-heading {
    font-size: 3rem;
    text-align: center;
    margin-top: 2%;

}

.activity {
    display: flex;
}

.activity-image {
    width: 180px;
    height: 180px;
    margin: 2% 5%;
    border-radius: 10px;
}

.activity-text {
    display: flex;
    flex-direction: column;
}

.para {
    font-size: 1.2rem;
    margin-top: 0%;
}

/* activity page finish */
/* contact page start */
input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    }
    
    input[type="submit"] {
    background-color: #2f614e;
    border: none;
    color: #fff;
    padding: 16px 32px;
    margin: 5px 5px;
    font-size: 1.5rem;
    }
    
    form {
    padding: 0 15%;
    }

ul {
    list-style-type: none;
    padding-left: 1%;
}

li {
    font-size: 1.2rem;
    line-height: 1.5;
}

.container {
    display: flex;
}

.hour,
.address-text {
    width: 40%;
    padding-left:1%;
}
iframe {
    margin: 1%;
    border-radius: 20px;
    width: 50;
    }
    @media (max-width: 768px) {
        iframe{
            width: 90%;
            margin-left: 3%;
        }
    }
/* contact page finish */